<!--
  날짜 : 2024/10/25
  이름 : 이상훈
  내용 : 상품 페이지 장바구니 컨텐츠 생성

  - 수정내역
  - 타임리프 레이아웃 적용 (10/29 준혁)
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{product/layout/product_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/include/reset.css}">
  <link rel="stylesheet" th:href="@{/css/product/product.css}">
  <link rel="stylesheet" th:href="@{/css/product/cart.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/product/cart.js}"></script>
</th:block>

<section class="section cart" layout:fragment="content">
  <nav class="cart__nav">
    <h1>장바구니</h1>
    <p>
      HOME <span> &gt; </span>
      <span>패션·의류·뷰티</span> <span> &gt; </span>
      <strong>남성의류</strong>
    </p>
  </nav>

  <!-- 배송지 설정 영역 -->
  <div class="delivery-settings">
    <h2><i class="fa fa-home"></i> 배송지</h2>
    <p>기본 배송지를 설정하시고, 가까운 롯데 점포 상품을 담아보세요.</p>
    <a href="#">배송지 설정 &gt;</a>
  </div>

  <!-- 장바구니 콘텐츠 좌우 레이아웃 -->
  <div class="cart-content">
    <!-- 좌측: 상품 목록 -->
    <div class="listForCompany">
      <table class="cart-table">
        <thead>
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>상품명</th>
          <th>수량</th>
          <th>판매가</th>
          <th>할인</th>
          <th>포인트</th>
          <th>배송비</th>
          <th>총합</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="cart : ${cartItems}" class="product-item">
          <td><input type="checkbox" name="selectedCart"  th:value="${cart.id}" onclick="calculateTotalPrice()"
                     th:data-quantity="${cart.quantity}"  th:data-price="${cart.product.price}"  th:data-discount="${cart.product.discountRate}"
                     th:data-delivery="${cart.product.deliveryFee}"  th:data-point="${cart.product.point}"  th:data-total="${cart.totalPrice}"></td>
          <input type="hidden" th:value="${cart.product.id}"/>
          <td class="product-details">
            <a href="#" class="product-image">
              <img th:src="'/'+${appInfo.uploadDir}+'product/'+${cart.product.productImg1}" alt="상품 이미지">
            </a>
            <div class="product-info">
              <p><a href="#">[[${cart.product.productName}]]</a></p>
              <p id="product-options" class="product-options"> [[${cart.formattedOptions}]]</p>
            </div>
          </td>
          <td>[[${cart.quantity}]]</td>
          <td>[[${cart.product.price}]]원</td>
          <td>[[${cart.product.discountRate}]]%</td>
          <td>[[${cart.product.point}]]</td>
          <th:block th:if="${cart.product.deliveryFee} > 0">
            <td>[[${cart.product.deliveryFee}]]</td>
          </th:block>
          <th:block th:unless="${cart.product.deliveryFee} > 0">
            <td>무료</td>
          </th:block>
          <td>[[${cart.totalPrice}]]원</td>

          <input type="hidden" th:value="${cart.product.getDescription()}"/>
          <input type="hidden" th:value="${cart.getProductOptionCombination()}"/>
          <input type="hidden" th:value="${cart.getFormattedOptions()}"/>

        </tr>
      </table>
    </div>

    <!-- 우측: 결제 정보 영역 -->
    <!-- 결제 예정 금액 표시 영역 -->
    <div class="total">
      <h2 class="total__head">결제 예정 금액</h2>
      <table class="total__table">
        <tr class="total__tr">
          <td>상품수</td>
          <td id="prodCount">0</td>
        </tr>
        <tr class="total__tr">
          <td>상품금액</td>
          <td id="prodOrgPrice">0원</td>
        </tr>
        <tr class="total__tr">
          <td>할인금액</td>
          <td id="prodDisPrice">0원</td>
        </tr>
        <tr class="total__tr">
          <td>배송비</td>
          <td id="prodDelivery">0원</td>
        </tr>
        <tr class="total__tr">
          <td>포인트</td>
          <td id="prodPoint">0</td>
        </tr>
        <tr class="total__tr total__price-row">
          <td>전체 주문 금액</td>
          <td id="prodTotalPrice" class="total__final-price">0원</td>
        </tr>
      </table>

      <!-- 주문하기 버튼 -->
      <form id="orderForm" action="api/product/prepareOrder" method="post">
        <input type="submit" id="btnOrder" value="주문하기" class="total__form__submit" />
        <input type="hidden" name="user" id="userForDirect" />
        <input type="hidden" name="cartProdNo" id="selectedProd" />
      </form>
    </div>
  </div>
</section>
</html>