<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{product/layout/product_layout}">

<!-- 스타일 시트 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/include/reset.css}">
  <link rel="stylesheet" th:href="@{/css/product/product.css}">
  <link rel="stylesheet" th:href="@{/css/product/order.css}">
</th:block>

<!-- 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
  <script type="text/javascript" th:src="@{/js/product/postcode.js}"></script>
  <script type="text/javascript" th:src="@{/js/order/order.js}"></script>
</th:block>

<body>
<!-- 주문 결제 섹션 시작 -->
<section class="ordersection" layout:fragment="content">

  <!-- 네비게이션 -->
  <nav class="order__nav">
    <h1>주문결제</h1>
    <p>HOME > 장바구니 > <strong>주문결제</strong></p>
  </nav>

  <form id="buyForm" onsubmit="event.preventDefault(); submitOrder();">

    <!-- 주문 상품 목록 -->
    <table class="order__table">
      <thead>
      <tr>
        <th>상품명</th>
        <th>수량</th>
        <th>판매가</th>
        <th>할인</th>
        <th>포인트</th>
        <th>배송비</th>
        <th>총합</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="orderInfo : ${orderInfoList}" class="order__item">
          <td>
            <div class="order__item-info">
              <img th:src="${orderInfo.productImg}" alt="상품 이미지" style="width: 70px; height: 70px;" />
              <div>
                <p class="product-name" th:text="${orderInfo.productName}">상품명</p>
                <input hidden="hidden" name="cartId" th:value="${orderInfo.getCartId()}">
                <input hidden="hidden" name="productId" th:value="${orderInfo.getProductId()}">
                <input hidden="hidden" name="combinationId" th:value="${orderInfo.getCombinationId()}">
                <p class="product-desc" name="formattedOptions" th:text="${orderInfo.getFormattedOptions()}">옵션</p>
              </div>
            </div>
          </td>
          <td th:text="${orderInfo.quantity}">1</td>
          <td th:text="${orderInfo.originalPrice}">27,000</td>
          <td th:text="${orderInfo.discountRate + '%'}">5%</td>
          <td th:text="${orderInfo.points}">270</td>
          <td th:text="${orderInfo.deliveryFee > 0 ? orderInfo.deliveryFee + '원' : '무료'}">무료</td>
          <td th:text="${orderInfo.total}">25,000</td>
        </tr>
      </tbody>
    </table>


    <section class="order__section-wrapper">
    <!-- 왼쪽 섹션 -->
    <div class="order__left-section">
      <!-- Hidden 필드로 주소 데이터 전달 --> 
      <input type="hidden" id="hiddenZip" th:value="${member.getAddress().getZip()}" />
      <input type="hidden" id="hiddenAddr1" th:value="${member.getAddress().getAddr1()}" />
      <input type="hidden" id="hiddenAddr2" th:value="${member.getAddress().getAddr2()}" />

      <!-- 배송정보 -->
      <section class="order__section">
        <h2>배송정보</h2>
        <button type="button" class="btn-set-default" onclick="setDefaultAddress()">기본배송지로 설정</button>
        <table class="order__info-table">
          <tr>
            <td>수령자</td>
            <td><input type="text" name="recipientName" class="input-text" /></td>
          </tr>
          <tr>
            <td>휴대폰</td>
            <td><input type="text" name="recipientPhone" class="input-text" /></td>
          </tr>
          <tr>
            <td>우편번호</td>
            <td>
              <div class="zip-code-container">
                <input type="text" name="recipientZip" id="zip" placeholder="우편번호" class="input-text zip-code" readonly/>
                <button type="button" class="btn-search" onclick="postcode()">검색</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>기본주소</td>
            <td><input type="text" name="recipientAddr1" id="addr1" class="input-text long-input" readonly/></td>
          </tr>
          <tr>
            <td>상세주소</td>
            <td><input type="text" name="recipientAddr2" id="addr2" class="input-text long-input" readonly/></td>
          </tr>
          <tr>
            <td>기타</td>
            <td><textarea name="etc" class="input-text long-input"></textarea></td>
          </tr>
        </table>
      </section>

      <!-- 할인정보 -->
      <section class="order__section discount-section">
        <h2>할인정보</h2>
        <p class="current-points">현재 포인트: <span id="userPoint" th:text="${member.getPoints()}">0</span>점</p>

        <div class="point-usage">
          <label for="inputPoint" class="point-label">사용 포인트:</label>
          <div class="input-container">
            <input type="number" min="0" name="usedPoint" id="inputPoint" placeholder="사용 가능 포인트: 0" />
            <button type="button" class="btn-reset" id="resetButton" onclick="resetPoints()" style="display: none;">
              <i class="fas fa-times"></i> <!-- X 아이콘 -->
            </button>
          </div>
          <input type="hidden" name="type" value="상품구매 사용"> <!-- 포인트 사용 사유 -->
          <button type="button" class="btn-apply" onclick="applyPoints()">사용하기</button>
          <p class="point-info">* 포인트 5,000점 이상 사용 가능합니다.</p>
        </div>

        <!--    쿠폰리스트 출력화면 (도영) 2024/11/03   -->
        <div class="coupon-usage" th:if="${couponTakeList != null and !#lists.isEmpty(couponTakeList)}">
          <p class="coupon-label">쿠폰 적용:</p>
          <select name="takecoupon" id="takecoupon">
            <option value="" data-discount="0" data-type="none">쿠폰선택</option>
            <option th:each="coupon : ${couponTakeList}"
                    th:value="${coupon.couponTakenId}"
                    th:data-discount="${coupon.coupon.coupondiscount}"
                    th:text="${coupon.coupon.couponname}">쿠폰 이름</option>
          </select>
          <button type="button" class="coupon-apply">사용하기</button>
        </div>
      </section>

      <!-- 결제방법 -->
      <section class="order__section">
        <h2>결제방법</h2>
        <section class="payment__method">
          <label><input type="radio" name="paymentMethod" value="CREDIT_CARD" /><span class="icon credit-icon"></span> 신용카드</label>
          <label><input type="radio" name="paymentMethod" value="DEBIT_CARD" /><span class="icon check-icon"></span> 체크카드</label>
          <label><input type="radio" name="paymentMethod" value="ACCOUNT_TRANSFER" /><span class="icon account-icon"></span> 계좌이체</label>
          <label><input type="radio" name="paymentMethod" value="BANK_TRANSFER" /><span class="icon acc-icon"></span> 무통장입금</label>
          <label><input type="radio" name="paymentMethod" value="MOBILE_PAYMENT" /><span class="icon phone-icon"></span> 휴대폰결제</label>
          <label><input type="radio" name="paymentMethod" value="KAKAOPAY" /><span class="icon kakaopay-icon"></span> 카카오페이</label>
        </section>
      </section>
    </div>

      <!-- 최종 결제 정보 박스 -->
      <div class="order__final-info">
        <h2>최종결제 정보</h2>
        <table>
          <tr><td>상품수</td><td id="prodCount" th:text="${finalOrderSummary.totalQuantity}">1</td></tr>
          <tr><td>상품금액</td><td id="prodCost" th:text="${finalOrderSummary.totalOriginalPrice}">27,000원</td></tr>
          <tr><td>할인금액</td><td id="prodDis" th:text="${-finalOrderSummary.totalDiscount} +'원'">-1,350원</td></tr>
          <tr><td>배송비</td><td id="prodFee" th:text="${finalOrderSummary.totalDeliveryFee > 0 ? finalOrderSummary.totalDeliveryFee + '원' : '무료'}">0원</td></tr>
          <tr><td>쿠폰 할인</td><td id="couponDiscount" >-원</td></tr>
          <tr><td>포인트 할인</td><td id="prodPoint" >-원</td></tr>
          <tr><td class="total-label">전체주문금액</td><td name="total" id="total" th:text="${finalOrderSummary.totalOrderAmount + '원'}" class="total-amount">24,650원</td></tr>
          <tr><td>적립 포인트</td><td id="getPoint"  th:text="${finalOrderSummary.totalEarnedPoints}">270</td></tr>
        </table>
        <button type="submit">결제하기</button>
      </div>
</section>
  </form>
</section>

<!-- 주문 페이지 끝 -->
</body>
</html>
