<div class="content" th:fragment="recruit">
    <html xmlns:th="http://www.thymeleaf.org">

    <!--
         날짜 : 2024/10/25
         이름 : 박서홍
         내용 : 회사소개 - recruit html 생성
     -->
<link rel="stylesheet" th:href="@{/css/company/company.css}">
<div class="headContent" >
    <div class="logoBox">
        <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" alt="로고" style="width: 185px;"/></a>
    </div>

    <div>
        <a th:href="@{/company/index}">HOME</a>
        <a th:href="@{/company/content/culture}">기업문화</a>
        <a th:href="@{/company/content/story}">소식과 이야기</a>
        <a class="tabOn" th:href="@{/company/content/recruit}">채용</a>
        <a th:href="@{/company/content/media}">미디어</a>
    </div>
</div>

        <main>
            <div class="recruitJoin">Join to LOTTE ON</div>

            <div class="contentHead" >
                쇼핑을 새롭게, 세상을 이롭게 이끌<br>
                쇼핑 좀 해 본 인재를 모십니다!
            </div>

            <div class="companyIntro">
                롯데ON은 안정성 있고 혁신성 있게 우리의 문화를 만들어가고 있어요.<br>
                구성원들은 수평적이고 자율적인 문화 속에서 개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.<br>
                롯데ON과 함께 굵은 점을 찍어가며 성장하실 분들을 기다립니다.
            </div>

            <div class="recruitment">
                <div class="recruitTable">
                    <a href="#">
                        <div>
                            <p>광고 플랙폼 기획</p>
                            <span>광고사업 | UX | 경력 3~4년 | 정규직 | 롯데월드타워</span>
                        </div>
                        <div>상시채용</div>
                    </a>

                    <a href="#">
                        <div>
                            <p>IT 인재 상시 영입(경력)</p>
                            <span>IT | 경력 2~15년 | 정규직 | 롯데월드타워</span>
                        </div>
                        <div>상시채용</div>
                    </a>

                    <a href="#">
                        <div>
                            <p>IT 인재 영입(신입)</p>
                            <span>IT | 경력 1~2년 | 정규직 | 롯데월드타워</span>
                        </div>
                        <div>상시채용</div>
                    </a>

                    <a th:each="recruit : ${activeRecruits}" th:href="@{/company/content/recruit/{id}(id=${recruit.recruitid})}">
                        <div>
                            <p th:text="${recruit.title}">포지션 제목</p>
                            <span th:text="${recruit.position + ' | ' + recruit.history + ' | ' + recruit.type}"></span>
                        </div>
                        <div th:text="${recruit.status}">상시채용</div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</html>