<div class="company" th:fragment="lotteon">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/company/company.css}">
    <div class="headContent" >
        <div class="logoBox">
            <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" alt="로고" style="width: 185px;"/></a>
        </div>

        <div>
            <a th:href="@{/company/index}">HOME</a>
            <a th:href="@{/company/content/culture}">기업문화</a>
            <a class="tabOn" th:href="@{/company/content/story}">소식과 이야기</a>
            <a th:href="@{/company/content/recruit}">채용</a>
            <a th:href="@{/company/content/media}">미디어</a>
        </div>
    </div>
        <main>
            <div class="contentHead" >롯데ON을 더 알고 싶다면!</div>

            <div class="contentSub">우리의 다양한 이야기를 소개합니다</div>

            <div class="storyNav">
                <a th:href="@{/company/content/story}">전체보기</a>
                <a th:href="@{/company/story/culture}">기업문화</a>
                <a th:href="@{/company/story/interview}">인터뷰</a>
                <a th:href="@{/company/story/recruit}">채용</a>
                <a class="tabOn" th:href="@{/company/story/lotteon}">롯데ON</a>
                <a th:href="@{/company/story/report}">보도자료</a>
                <a th:href="@{/company/story/ESG}">ESG</a>
            </div>
            <div class="noticeForCard">
                <a href="https://story.lotteon.com/2024%eb%85%84-%ea%b0%9c%ec%9d%b8%ec%a0%95%eb%b3%b4-%ec%a4%91%ec%9e%a5%ea%b8%b0-%eb%aa%a9%ed%91%9c/">
                    <img th:src="@{/images/company/Lotteon1.jpg}" alt="사진">
                    <p>2024년 개인정보 중장기 목표</p>
                    <span>롯데쇼핑e커머스 정보보호정책 공유</span>
                </a>
                <a href="https://story.lotteon.com/%eb%a1%af%eb%8d%b0e%ec%bb%a4%eb%a8%b8%ec%8a%a4-%eb%b7%b0%ed%8b%b0-%ec%84%9c%eb%b9%84%ec%8a%a4-%ec%98%a8%ec%95%a4%eb%8d%94%eb%b7%b0%ed%8b%b0-%eb%9f%b0%ec%b9%ad/">
                    <img th:src="@{/images/company/Lotteon2.jpg}" alt="사진">
                    <p>롯데e커머스 뷰티 서비스 ‘온앤더뷰티’ 런칭</p>
                    <span >온라인으로 프리미엄 뷰티 전문관 온앤더뷰티를 경험해 보세요!</span>
                </a>
                <a href="https://story.lotteon.com/%ea%b8%80%eb%a1%9c%eb%b2%8c-1%ec%9c%84%ec%9d%98-%ec%86%8c%ed%86%b5-%eb%b9%84%ea%b2%b0%ec%9d%b4-%ea%b6%81%ea%b8%88%ed%95%98%eb%8b%a4%eb%a9%b4/">
                    <img th:src="@{/images/company/Lotteon3.jpg}" alt="사진">
                    <p>글로벌 1위의 소통 비결이 궁금하다면?</p>
                    <span >Slack Tour 2022에 참가하여, 글로벌 소통 1위의 비결을 들어보세요.</span>
                </a>
                <a href="https://story.lotteon.com/%ec%a7%80%ea%b5%ac%eb%a5%bc-%ec%9c%84%ed%95%9c-%ec%9d%b4%eb%a1%9c%ec%98%a8-%ec%ba%a0%ed%8e%98%ec%9d%b8/">
                    <img th:src="@{/images/company/Lotteon4.jpg}" alt="사진">
                    <p>지구를 위한 이로온 캠페인!</p>
                    <span>ESG경영?! 어렵지 않아요. 롯데ON에 참여하여 200년 후 지구를 생각하세요.</span>
                </a>
                <a href="https://story.lotteon.com/%eb%8f%84%ec%8b%ac-%ec%86%8d%ec%9d%98-%eb%a7%88%ec%9d%b4%ed%81%ac%eb%a1%9c%ed%92%80%ed%95%84%eb%a8%bc%ed%8a%b8/">
                    <img th:src="@{/images/company/Lotteon5.jpg}" alt="사진">
                    <p>도심 속의 마이크로풀필먼트</p>
                    <span>퇴근길에 주문한 과일이, 바로배송된다구?</span>
                </a>
                <a href="https://story.lotteon.com/%eb%a1%af%eb%8d%b0on-%ec%9c%a0%ed%86%b5%ec%9d%98-%eb%af%b8%eb%9e%98%eb%a5%bc-%eb%a7%8c%eb%93%a4%ec%96%b4%ea%b0%91%eb%8b%88%eb%8b%a4/">
                    <img th:src="@{/images/company/Lotteon6.jpg}" alt="사진">
                    <p>롯데ON, 유통의 미래를 만들어갑니다.</p>
                    <span >롯데ON에서 유통의 과거와 현재, 그리고 미래를 함께하세요.</span>
                </a>
            </div>
        </main>
</html>