<div class="story" th:fragment="report">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/company/company.css}">
    <div class="headContent" >
        <div class="logoBox">
            <a th:href="@{/}"><img th:src="@{/images/header_logo.png}" alt="로고" style="width: 185px;"/></a>
        </div>

        <div>
            <a th:href="@{/company/index}">HOME</a>
            <a th:href="@{/company/content/culture}">기업문화</a>
            <a class="tabOn" th:href="@{/company/content/story}">소식과 이야기</a>
            <a th:href="@{/company/content/recruit}">채용</a>
            <a th:href="@{/company/content/media}">미디어</a>
        </div>
    </div>
        <main>
            <div class="contentHead" >롯데ON을 더 알고 싶다면!</div>

            <div class="contentSub">우리의 다양한 이야기를 소개합니다</div>

            <div class="storyNav">
                <a th:href="@{/company/content/story}">전체보기</a>
                <a th:href="@{/company/story/culture}">기업문화</a>
                <a th:href="@{/company/story/interview}">인터뷰</a>
                <a th:href="@{/company/story/recruit}">채용</a>
                <a th:href="@{/company/story/lotteon}">롯데ON</a>
                <a class="tabOn" th:href="@{/company/story/report}">보도자료</a>
                <a th:href="@{/company/story/ESG}">ESG</a>
            </div>

            <div class="noticeForCard">
                <a href="https://story.lotteon.com/%eb%a1%af%eb%8d%b0%ec%98%a8-%ea%b0%a4%eb%9f%ad%ec%8b%9c%ec%9b%8c%ec%b9%98-fe-%ea%b3%a8%ed%94%84%ed%8c%a8%ed%82%a4%ec%a7%80-%ec%84%a0%ec%b0%a9%ec%88%9c-%ed%95%9c%ec%a0%95-%ed%8c%90%eb%a7%a4/">
                    <img th:src="@{/images/company/report1.jpg}" alt="사진">
                    <p>롯데온, ‘갤럭시워치 FE 골프패키지’ 선착순 한정 판매</p>
                    <span >롯데온이 18일 ‘갤럭시워치 FE 골프패키지’ 출시를 기념해 300명의 고객에게만 선착순</span>
                </a>
                <a href="https://story.lotteon.com/%eb%8c%80%eb%aa%85%ec%95%84%ec%9e%84%eb%a0%88%eb%94%94-%eb%9d%bc%ec%9d%b4%ed%94%84-%ec%84%9c%eb%b9%84%ec%8a%a4-%eb%a1%a0%ec%b9%ad-%ea%b8%b0%eb%85%90-%eb%8b%a8%eb%8f%85-%ed%98%9c%ed%83%9d/">
                    <img th:src="@{/images/company/report2.jpg}" alt="사진">
                    <p>‘대명아임레디’ 라이프 서비스 론칭 기념 단독 혜택!</p>
                    <span >롯데온이 상품 다변화를 통해 라이프스타일 플랫폼으로 도약에 나선다.</span>
                </a>
                <a href="https://story.lotteon.com/%eb%a6%b4%eb%a0%88%ec%9d%b4-%eb%b7%b0%ed%8b%b0-%eb%8d%b0%ec%9d%b4%ec%a6%88%ec%84%9c-%ed%8a%b8%eb%a0%8c%eb%93%9c-%eb%b7%b0%ed%8b%b0-%ec%b5%9c%eb%8c%80-%ed%98%9c%ed%83%9d/">
                    <img th:src="@{/images/company/report3.png}" alt="사진">
                    <p>‘릴레이 뷰티 데이즈’서 ‘트렌드 뷰티’ 최대 혜택!</p>
                    <span >럭셔리에서 트렌드까지 뷰티 영역 확대 나선 롯데온!</span>
                </a>
                <a href="https://story.lotteon.com/%eb%a1%af%eb%8d%b0%ec%98%a8-%eb%b3%b5%eb%82%a0%ec%9c%84%ed%81%ac%ec%84%9c-%eb%ac%b4%eb%8d%94%ec%9c%84-%eb%82%a0%eb%a6%ac%ea%b3%a0-%ea%b8%b0%eb%a0%a5-%eb%b3%b4%ec%b6%a9%ed%95%98%ec%84%b8%ec%9a%94/">
                    <img th:src="@{/images/company/report4.jpeg}" alt="사진">
                    <p>롯데온 ‘복날위크’서 무더위 날리고 기력 보충하세요!</p>
                    <span >“복날 몸보신은 고기 VS 간편하게 챙기는 건강식품?”</span>
                </a>
                <a href="https://story.lotteon.com/ai-%ea%b8%b0%eb%b0%98-%ea%b0%9c%ec%9d%b8%ed%99%94-%ec%b6%94%ec%b2%9c%ed%98%95-%ea%b4%91%ea%b3%a0-%ec%86%94%eb%a3%a8%ec%85%98-%ec%8a%a4%eb%a7%88%ed%8a%b8%eb%a7%a4%ec%b6%9c%ec%97%85-%eb%a1%a0%ec%b9%ad/">
                    <img th:src="@{/images/company/report5.jpg}" alt="사진">
                    <p>AI 기반 개인화 추천형 광고 솔루션 ‘스마트매출업’ 론칭!</p>
                    <span >“파트너사 마케팅 돕고, 고객 쇼핑 만족도 높인다!”</span>
                </a>
              
            </div>
        </main>
</html>