/* 유형선택 */
.select-container {
    display: flex;
    gap: 10px; /* 간격을 원하는 만큼 조정 가능 */
}
select[name="type"] {
    width: 75px;
    height: 40px;
    border: 1px solid #D8D8D8;
    text-align: center;
    outline: none;
}
/* 유형선택 */
.sectionBox > div {
    margin-top: 30px;
    margin-bottom: 10px;
}
/* 검색창 */
input {
    width: 200px;
    height: 40px;
    padding: 9px;
    border: 1px solid #D8D8D8;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
/* 검색바 */
.search_bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

/*표*/
.admingraph {
    width: 100%;
    margin-top: 13px;
    border-top: 2px solid #8798a3;
    border-bottom: 2px solid #BFBFBF;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
}
/*표 상단*/
.admin_title {
    height: 65px;
    border-bottom: 1px solid #BFBFBF;
}
/*표 제목 텍스트*/
.admin_title th {
    font-weight: bolder;
}
/*표 내용*/
.admin_list {
    height: 65px;
    border-bottom: 1px solid #BFBFBF;
}
/*체크*/
input[type="checkbox"] {
    width: auto;
    margin-right: 6px;
}

/* 버튼 */

/*검색*/
.searchBtn {
    width: 85px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #343b4d; /* 버튼 색상 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 아이콘과 텍스트 간격 */
.searchBtn i {
    margin-right: 6px; /* 아이콘과 텍스트 사이 간격 */
    font-size: 16px;
}

/* [삭제] */
.cs_delete-btn {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}
/* [수정] */
.cs_modify-btn{
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

/* 수정버튼 */
.btn {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    text-align: center;
    background-color: #343b4d; /* 버튼 색상 */
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;

    align-items: center;
    font-weight: bold;





}
/* 등록버튼 */
.registration_btn {
    float: right;
    width: 100px;
    height: 37px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;
    font-size: 13px;
    text-align: center;
    background-color: #8EB4E3;
    color: #FFFFFF;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}


/* 상태별 텍스트 색상 */
.status-normal {
    color: #28a745; /* 초록색 */
}

.status-stopped {
    color: #dc3545; /* 빨간색 */
}

.status-sleep {
    color: #007bff; /* 파란색 */
}

.status-exit {
    color: #6c757d; /* 회색 */
}

.status-unknown {
    color: #666; /* 기본 회색 */
}
.status-buttons {
    display: flex;
    gap: 8px; /* 버튼 간 간격 */
    margin-top: 10px;
}




.select-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.select-container select {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.select-container button {
    background-color: #343b4d;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.select-container button:hover {
    background-color: #2b303d;
}




/* 페이징 */
.pagingBox {
    display: flex;
    position: relative;
    margin-top: 40px;
    justify-content: center;
}


/* 공통 스타일 */
.styled-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* 아이콘과 텍스트 간격 조정 */
.styled-button i {
    margin-right: 6px;
    font-size: 16px;
}

/* 수정 버튼 스타일 */
.cs_modify-btn {
    background-color: #394968;
    border: 1px solid #007c7a;
}

.cs_modify-btn:hover {
    background-color: #5a73a1;
}

/* 중지 버튼 스타일 */
.delete-button {
    background-color: #ea6d5f;
    border: 1px solid #d9534f;
}

.delete-button:hover {
    background-color: #d9534f;
}

.pagingList>a {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #999;
    line-height: 26px;
    margin: 0 2px;
    text-indent: -1px;
    font-family: Roboto, NotoSansKR, Malgun Gothic, AppleSDGothicNeo, Helvetica, sans-serif;
    text-align: center;
}
.pagingList>a.active {
    margin: 0 4px;
    background-color: #343b4d;
    border: 1px solid #343b4d;
    color: #fff;
}
.pagingList>a:hover {
    background-color: #35373d;
}
