<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{myPage/layout/mypage_layout2}"
>
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/my/point.css}" />
  </th:block>
  <th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/my/searchPeriod.js}"></script>
    <script type="text/javascript" th:src="@{/js/my/myserarch.js}"></script>
  </th:block>
  <section class="content" layout:fragment="content">
    <!-- 회원정보 섹션 -->
    <a href="#"
      ><img
        src="/images/my/my_banner_sample.png"
        alt="롯데ON에서 드리는 다양한 결제혜택"
        class="banner"
    /></a>
    <!-- 810x86 배너 이미지 -->
    <article class="latest">
      <h3>포인트적립내역</h3>
      <!-- 포인트내역 검색바 -->
      <div class="myinfoSearch">

        <p>기간별 조회</p>
        <button class="period-btn" id="allButton" data-period="all">전체</button>
        <button class="period-btn" data-period="week">일주일</button>
        <button class="period-btn" data-period="halfmonth">15일</button>
        <button class="period-btn" data-period="month">1개월</button>


        <div class="date-wrapper">

          <div class="start-date-wrapper">
            시작날짜 :
            <input type="date" id="startDate" class="start-date" placeholder="시작 날짜 선택" />
          </div>

          <div class="end-date-wrapper">
            종료날짜 :
            <input type="date" id="endDate" class="end-date" placeholder="종료 날짜 선택" />
          </div>

        </div>
        <button onclick="searchRecords('/myPage/point')">검색</button>
      </div>


      <!-- 포인트 있을 때 -->
      <table border="0" class="widthtable">
        <tr>
          <th>날짜</th>
          <th>구분</th>
          <th>주문번호</th>
          <th>포인트</th>
          <th>비고</th>
          <th>유효기간</th>
        </tr>
        <!-- 10개 출력이나 5개만 -->
        <tr th:each="point, stat : ${points.dtoList}" class="admin_list">
          <td th:text="${point.formattedCreatedAt}"></td> <!-- 날짜 포맷 -->
          <td th:text="${point.transactionType.toString()}"></td>
          <td th:text="${point.order?.id != null ? point.order.id : point.type}">123</td>
          <td th:text="${point.givePoints < 0 ? point.givePoints : '+' + point.givePoints}"></td>
          <td th:text="${point.type != null ? point.type : '비고 없음'}"></td>
          <td th:text="${point.transactionType.toString() == '사용' || point.transactionType.toString() == '만료' ? '없음' : point.formattedExpirationDate}">유효기간</td>
        </tr>
        <tbody id="resultContainer">


        </tbody>
      </table>

      <div class="pagingBox">
        <div class="pagingList">
          <!-- 이전 버튼 -->
          <th:block th:if="${points.prev}">
            <a th:href="@{/admin/member/point(pg=${points.pg - 1})}" class="prev">←</a>
          </th:block>

          <!-- 페이지 링크 -->
          <th:block th:each="num : ${#numbers.sequence(points.start, points.end)}">
            <a th:href="@{/admin/member/point(pg=${num})}" th:text="${num}"
               th:classappend="${points.pg == num} ? 'active'"></a>
          </th:block>

          <!-- 다음 버튼 -->
          <th:block th:if="${points.next}">
            <a th:href="@{/myPage/point(pg=${points.pg + 1})}" class="next">→</a>
          </th:block>
        </div>
      </div>

    </article>
  </section>
</html>
