<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{myPage/layout/mypage_layout2}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/my/review.css}"/>
</th:block>
<th:block layout:fragment="script"></th:block>
<section class="content" layout:fragment="content">
    <!-- 회원정보 섹션 -->

    <a href="#"
    ><img
            src="/images/my/my_banner_sample.png"
            alt="롯데ON에서 드리는 다양한 결제혜택"
            class="banner"
    /></a>
    <!-- 810x86 배너 이미지 -->
    <article class="latest">
        <!--나의 리뷰 출력-->

        <!--나의 리뷰가 있을떄-->
        <h3>나의리뷰</h3>
        <table border="0" class="widthtable">
            <tr>
                <th>번호</th>
                <th>상품명</th>
                <th>내용</th>
                <th>평점</th>
                <th>작성일</th>
            </tr>
            <tr th:each="review :${reviews.content}">
                <td th:text="${review.displayNum}">1</td>
                <td>
                    <a  th:href="|/product/view/${review.productId}|"
                        th:text="|${review.productId} / ${review.productName}|"
                        style="text-decoration: underline"
                    >상품번호 / 상품명</a>
                </td>
                <td th:text="${review.content}">배송이 빠릅니다. 잘 사용하겠습니다.</td>
                <td class="ratingTd">
                    <input type="hidden" class="revScore" name="revScore" required/>
                    <div class="ratingValue">
                      <span class="ratingValue__background">
                        <strong style="width: 90%;" th:style="|width: ${review.score*100/5}%|"></strong>
                      </span>
                    </div>
                </td>
                <td th:text="${#temporals.format(review.createdAt, 'yyyy.MM.dd')}">22.12.31</td>
            </tr>
        </table>
    </article>

    <!-- 페이지네이션 -->
    <div class="pagingBox">
        <div class="pagingList">
            <!-- 이전 버튼 -->
            <a th:if="${reviews.currentPage > 0}"
               th:href="@{/myPage/review(page=${reviews.currentPage - 1})}"
               class="prev">&lt;</a>

            <!-- 페이지 번호 제한 (최대 5개 표시) -->
            <a th:each="i, iterStat : ${#numbers.sequence(startPage, endPage)}"
               th:href="@{/myPage/review(page=${i - 1})}"
               th:text="${i}"
               th:classappend="${reviews.currentPage + 1 == i} ? 'active' : ''">1</a>

            <!-- 다음 버튼 -->
            <a th:if="${reviews.currentPage + 1 < reviews.totalPages}"
               th:href="@{/myPage/review(page=${reviews.currentPage + 1})}"
               class="next">&gt;</a>
        </div>
    </div>
</section>
</html>
