/* 유형선택 */
.select-container {
    display: flex;
    gap: 10px; /* 간격을 원하는 만큼 조정 가능 */
}
select[name="type"] {
    width: 80px;
    height: 40px;
    border: 1px solid #D8D8D8;
    text-align: center;
    outline: none;
}
/* 유형선택 */
.sectionBox > div {
    margin-top: 30px;
    margin-bottom: 10px;
}

/*표*/
.admingraph {
    width: 100%;
    margin-top: 13px;
    border-top: 2px solid #8798a3;
    border-bottom: 2px solid #BFBFBF;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    border-collapse: collapse;
}
/*표 상단*/
.admin_title {
    height: 65px;
    border-bottom: 1px solid #BFBFBF;
}
/*표 제목 텍스트*/
.admin_title th {
    font-weight: bolder;
}
/*표 내용*/
.admin_list {
    height: 65px;
    border-bottom: 1px solid #BFBFBF;
}
/*체크*/
input[type="checkbox"] {
    width: auto;
    margin-right: 6px;
}

button[type=submit] {
    float: right;
    height: 26px;
    margin-right: 246px;
    padding: 0 15px;
    background-color: #a8b2c5;
    border: 1px solid #D8D8D8;
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}


/* 버튼 */

/* [삭제] */
.cs_delete-btn {
    cursor: pointer;
    text-decoration: none;
    color: #ff0000;
}
/* [수정] */
.cs_modify-btn{
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

/* 삭제버튼 */
.delete_btn {
    float: left;
    width: 100px;
    height: 37px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;
    font-size: 13px;
    text-align: center;
    background-color: #BFBFBF;
    color: #FFFFFF;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}
/* 등록버튼 */
.registration_btn {
    float: right;
    width: 100px;
    height: 37px;
    padding: 6px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;
    font-size: 13px;
    text-align: center;
    background-color: #8EB4E3;
    color: #FFFFFF;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}


/* 리스트 표 */

/* 문의하기 */
.admin_qna-list > td:nth-child(1) {width: 20px;}
.admin_qna-list > td:nth-child(2) {width: 80px;}
.admin_qna-list > td:nth-child(3) {width: 80px;}
.admin_qna-list > td:nth-child(4) {width: 80px;}
.admin_qna-list > td:nth-child(5) {width: auto; text-align: left;}
.admin_qna-list > td:nth-child(6) {width: 80px;}
.admin_qna-list > td:nth-child(7) {width: 80px;}
.admin_qna-list > td:nth-child(8) {width: 80px;}


/* 페이징 */
.pagingBox {
    display: flex;
    position: relative;
    margin-top: 40px;
    justify-content: center;
}
.pagingList>a {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #999;
    line-height: 26px;
    margin: 0 2px;
    text-indent: -1px;
    font-family: Roboto, NotoSansKR, Malgun Gothic, AppleSDGothicNeo, Helvetica, sans-serif;
    text-align: center;
}
.pagingList>a.active {
    margin: 0 4px;
    background-color: #343b4d;
    border: 1px solid #343b4d;
    color: #fff;
}
.pagingList>a:hover {
    background-color: #35373d;
}

.search_bar > input.searchInput {
    height: 35px;
    width: 170px;
    border: 1px solid #D9D9D9;
}

.search_bar > input.searchBtn {
    height: 35px;
    width: 50px;
    border: 1px solid #D9D9D9;
}