<script
  src="https://kit.fontawesome.com/63c07008cd.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" th:href="@{/css/include/reset.css}" />
<link rel="stylesheet" th:href="@{/css/include/aside-best.css}" />

<aside>
  <!-- 베스트상품 배너 -->
  <article class="best">
    <h1><i id="prodSold" class="fas fa-crown"></i>베스트상품</h1>
    <ol>
      <li>
        <a href="#">
          <div class="thumb">
            <i>1</i>
            <img
              src="https://thumbnail8.coupangcdn.com/thumbnails/remote/x/image/displayitem/displayitem_a6949c3f-ef03-4f89-a323-8f4e590a9e69.jpg"
              alt="item1"
            />
          </div>
          <h2>상품명</h2>
          <div class="org_price">
            <del>12,000</del>
            <span>10%</span>
          </div>
          <div class="dis_price">
            <ins>10,000</ins>
          </div>
        </a>
      </li>
    </ol>
  </article>
</aside>
