<script
  src="https://kit.fontawesome.com/63c07008cd.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" th:href="@{/css/include/reset.css}" />
<link rel="stylesheet" th:href="@{/css/include/aside-cate.css}" />

<aside>
  <ul class="category">
    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
    <!--1차 카테고리-->
    <li>
      <a href="#">
        <i class="fas fa-home"></i>카테고리 이름<i
          class="fas fa-angle-right"
        ></i>
      </a>
      <!--2차 카테고리-->
      <ol>
        <li>
          <a> 가구/DIY<i class="fas fa-angle-right"></i> </a>
          <!--3차 카테고리-->
          <ol>
            <li>
              <a href="#">3차</a>
            </li>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-home"></i>카테고리 이름<i
          class="fas fa-angle-right"
        ></i>
      </a>
      <!--2차 카테고리-->
      <ol>
        <li>
          <a> 가구/DIY2<i class="fas fa-angle-right"></i> </a>
          <!--3차 카테고리-->
          <ol>
            <li>
              <a href="#">3차</a>
            </li>
          </ol>
        </li>
      </ol>
    </li>
  </ul>
</aside>
