<!--

  날짜 : 2024/10/25
  이름 : 이상훈
  내용 : 모든 페이지 헤더

  수정사항
  - 2024/11/04 이도영  인과설정 별로 버튼 수정

-->
<header class="header" th:fragment="header">
    <link rel="stylesheet" href="/css/include/header.css" th:href="@{/css/include/header.css}">
    <link rel="stylesheet" href="/css/include/reset.css" th:href="@{/css/include/reset.css}">
    <div class="header__top">
        <div class="center header__top__nav">
            <div th:if="${isAuthenticated}">
                <!-- 로그인된 사용자에게만 보여줄 링크 -->
                <span>[[${name}]]님</span>
                <a th:href="@{/myPage/home}" th:if="${role == 'General'}">마이페이지</a>
                <a th:href="@{/admin}" th:if="${role == 'Admin'} or ${role =='Seller'}">관리자</a>
                <a th:href="@{/member/logout}">로그아웃</a>
                <a th:href="@{/cs/index}">고객센터</a>
            </div>
            <div th:if="${!isAuthenticated}">
                <!-- 비로그인 사용자에게만 보여줄 링크 -->
                <a th:href="@{/user/login}">로그인</a>
                <a th:href="@{/user/join}">회원가입</a>
                <a th:href="@{/cs/index}">고객센터</a>
            </div>
        </div>
    </div>
    <div class="header__bot">
        <div class="header__bot__wrapper center">
            <a class="logo" href="#" th:href="@{/}"><img class="logo__img" th:src="@{'/'+${appInfo.uploadDir}+'logo/'+${config.headerlogo}}" alt="로고"/></a>
            <div class="header_item">
                <a th:href="@{/cs/layout/notice/list}">
                    <img th:src="@{/images/main/main_notice2.png}" alt="공지사항" style="width: 40px; height: 40px;">
                    NOTICE
                </a>
                <a th:href="@{/cs/layout/faq/list}">
                    <img th:src="@{/images/main/main_faq2.png}" alt="자주묻는질문" style="width: 40px; height: 40px;">
                     FAQ
                </a>
                <a th:href="@{/myPage/home}" th:if="${role != 'Admin'} and ${role !='Seller'}">
                    <img th:src="@{/images/main/main_mypage2.svg}" alt="마이페이지" style="width: 40px; height: 40px;">
                    MYPAGE
                </a>
                <a th:href="@{/admin}" th:if="${role == 'Admin'} or ${role =='Seller'}">
                    <img th:src="@{/images/main/main_mypage2.svg}" alt="마이페이지" style="width: 40px; height: 40px;">
                    MANAGE
                </a>
                <a th:href="@{/product/cart}" th:if="${role != 'Admin'} and ${role !='Seller'}">
                    <img th:src="@{/images/main/main_cart2.svg}" alt="장바구니" style="width: 40px; height: 40px;">
                    CART
                </a>
                <a th:href="@{/admin/order/list}" th:if="${role == 'Admin'} or ${role =='Seller'}">
                    <img th:src="@{/images/main/main_cart2.svg}" alt="주문현황" style="width: 40px; height: 40px;">
                    ORDER
                </a>
            </div>
            <form class="search" action="/product/list" method="get">
                <input class="search__input" type="text" name="keyword" th:value="${keyword}" />
                <!-- <input  type="hidden" name="cateCode" id="cateCodeInput" value=""> -->
                <button class="search__btn"><img width="18" class="search__btn__img" src="/static/images/search.svg" th:src="@{/images/search.svg}" /></button>
            </form>
        </div>

    </div>
</header>
