<!DOCTYPE html>
<html lang="en">
<!--
  날짜 : 2024/10/18
  이름 : 최준혁
  내용 : 고객센터 목록 index

  수정이력
  - 2024/10/25 김소희 - 동적처리
-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cs/cs.css}" />
</head>
<body>
<header th:replace="~{layout/header::header}"></header>
<section class="cs">
    <div class="main">
        <h1 class="cs_title"><strong>롯데ON</strong> 이 도와드릴게요 !</h1>

        <!-- 공지사항 목록 -->
        <section class="notice">
            <h1>공지사항<a th:href="@{/cs/layout/notice/list}">전체보기</a></h1>
            <ul>
                <li th:each="notice : ${notices.content}">
                    <a th:href="@{/cs/layout/notice/view/{id}(id=${notice.id})}" th:text="${notice.title}" style="font-size: 17px"></a>
                    <span th:text="${#temporals.format(notice.createdAt, 'yy-MM-dd')}" style="font-size: 17px"></span>
                </li>
            </ul>
        </section>

        <!-- 자주 묻는 질문 목록 -->
        <section class="faq">
            <h1>자주 묻는 질문<a th:href="@{/cs/layout/faq/list}">전체보기</a></h1>
                <ul>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='회원')}">
                            <span style="font-size: 13px">회원</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='쿠폰/이벤트')}">
                            <span style="font-size: 13px">쿠폰 / 이벤트</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='주문/결제')}">
                            <span style="font-size: 13px">주문 / 결제</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='배송')}">
                            <span style="font-size: 13px">배송</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='취소/반품/환불')}">
                            <span style="font-size: 13px">취소 / 반품 / 환불</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='여행/숙박/항공')}">
                            <span style="font-size: 13px">여행 / 숙박 / 항공</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/cs/layout/faq/list(type1='안전결제')}">
                            <span style="font-size: 13px">안전결제</span>
                        </a>
                    </li>

                </ul>
        </section>

        <!-- 문의하기 목록 -->
        <section class="qna">
            <h1>
                문의하기
                <a th:href="@{/cs/layout/qna/list}">전체보기</a>
            </h1>
            <ul>
                <!-- 로그인한 사용자의 문의사항을 필터링 -->
                <li th:each="inquiry : ${inquiries}" th:if="${inquiry.memberId == #authentication.name}">
                    <a th:href="@{/cs/layout/qna/view/{id}(id=${inquiry.id})}" th:text="${inquiry.title}" style="font-size: 17px;"></a>
                    <p>
<!--                        <span class="uid" th:text="|${inquiry.memberId.substring(0, 3)}***|">익명</span>-->
                        <span th:text="${#temporals.format(inquiry.createdAt, 'yy-MM-dd')}" style="font-size: 17px"></span>
                    </p>
                </li>

                <!-- 일치하는 문의사항이 없을 경우 메시지 표시 -->
                <li th:if="${inquiries.?[memberId == #authentication.name].isEmpty()}">
                    문의사항이 없습니다.
                </li>
            </ul>
            <a th:href="@{/cs/layout/qna/write}" class="ask">문의글 작성 ></a>
        </section>




        <!-- 상담 안내 -->
        <section class="tel">
            <h1>1:1 상담안내</h1>
            <article>
                <div>
                    <h3>이용안내</h3>
                    <p><span class="title">일반회원/비회원</span><br><strong>1566-0001</strong><span class="tel_gray">(평일 09:00 ~ 18:00)</span></p>
                    <p><span class="title">스마일클럽 전용</span><br><strong>1566-0002</strong><span class="tel_gray">(365일 09:00 ~ 18:00)</span></p>
                </div>
            </article>
            <article>
                <div>
                    <h3>판매상담 이용안내</h3>
                    <p><span class="title">판매고객</span><br><strong>1566-5700</strong><span class="tel_gray">(평일 09:00 ~ 18:00)</span></p>
                    <p><a href="#">판매자 가입 및 서류 접수 안내 〉</a></p>
                </div>
            </article>
        </section>
    </div>
    <footer th:replace="~{layout/footer::footer}"></footer>
</body>
</html>
