<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>My Info</title>
<!--    <link rel="stylesheet" th:href="@{/css/my/myinfo.css}">-->
    <link rel="stylesheet" th:href="@{/css/my/modal.css}">
    <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/my/searchPeriod.js}"></script>
</head>
<body>

<!-- header -->
<header th:replace="~{layout/header::header}"></header>
<div id="wrapper">

    <!-- content -->
    <!-- include nav -->
    <th:replace th:replace="~{myPage/include/mypagenav::nav}"></th:replace>

    <!-- include sidebar and banner -->
    <div class="info">
        <div th:replace="~{myPage/include/mypagesidebar::sidebar}"></div>

        <th:block th:with="path='myPage/content/' + ${cate}, fragment=${cate}">
            <!-- dynamic content -->
            <th:replace th:with="path=${path}, fragment=${fragment}"
                        th:replace="~{${path}::${fragment}}"></th:replace>
        </th:block>
    </div>
    </th:block>

</div>
<!-- footer -->
<footer th:replace="~{layout/footer::footer}"></footer>
</body>

</html>
