<!--
    날짜 : 2024/10/30
    이름 : 김소희(최초 작성자)
    내용 : mypagesidebar 생성

    수정이력
    - 2024/11/01 - 이도영 - 쿠폰 경로 수정
    - 2024/11/10 - 박서홍 - 메뉴 하이라이트 적용
-->
    <aside th:fragment="sidebar">
        <ul id="mypage_sidebar">

        <li><a th:href="@{/myPage/ordered}">전체주문내역</a></li>
        <li><a th:href="@{/myPage/point}">포인트내역</a></li>
        <li><a th:href="@{/myPage/coupon/{uid}(uid=${uid})}">쿠폰</a></li>
        <li><a th:href="@{/myPage/review}">나의리뷰</a></li>
        <li><a th:href="@{/myPage/qna}">문의하기</a></li>
        <li><a th:href="@{/myPage/info}">나의설정</a></li>
    </ul>
    </aside>
