<!--
    날짜 : 2024/11/04
    이름 : 이도영(최초 작성자)
    내용 : 비밀번호 찾기 결과 html
     수정사항
    - 2024/11/06 이도영 일반회원,판매자 에 따라 출력방식 변경
-->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LotteOn 비밀번호 변경</title>
  <link rel="stylesheet" th:href="@{/css/user/user_style.css}">
  <script th:src="@{/js/login/passcheck.js}"></script>
  <script th:src="@{/js/login/utils.js}"></script>
</head>

<body>

<header th:replace="~{layout/header::header}"></header>
<div id="wrapper">
  <section class="user-section">
    <h2 class="titLogin">
      <span class="find">비밀번호 변경</span>
    </h2>
    <hr class="line" size="2px" color="black">

    <!-- 비밀번호 변경 폼 -->
    <form th:action="@{/user/changePassword}" method="post"  class="sendForm">
      <table class="heighttable">
        <tr>
          <th>이름</th>
          <td>
            <span th:text="${name}"></span>
          </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td>
            <span th:text="${uid}"></span>
            <input type="hidden" th:value="${uid}" name="uid">
          </td>
        </tr>
        <tr>
          <th>새 비밀번호</th>
          <td><input type="password" name="pass" required></td>
        </tr>
        <tr>
          <th>새 비밀번호 확인</th>
          <td>
            <input type="password" name="pass2" required>
            <span class="resultPass"></span>
          </td>
        </tr>
      </table>
      <div class="find-btndiv">
        <button type="submit" class="infobutton1">변경하기</button>
      </div>
    </form>
  </section>
</div>
<!-- 푸터영역 -->
<footer th:replace="~{layout/footer::footer}"></footer>

</body>
</html>