<!--
    날짜 : 2024/11/04
    이름 : 이도영(최초 작성자)
    내용 : 아이디 찾기 html

    수정사항
    - 2024/11/06 이도영 일반회원,판매자 에 따라 출력방식 변경
-->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LotteOn 아이디찾기 결과</title>
  <link rel="stylesheet" th:href="@{/css/user/user_style.css}">
</head>

<body>

<header th:replace="~{layout/header::header}"></header>
<div id="wrapper">
  <section class="user-section">
    <h2 class="titLogin">
      <span class="find">아이디 찾기 결과</span>
    </h2>
    <hr class="line" size="2px" color="black">

      <table class="heighttable">
        <tr>
          <th>이름</th>
          <td>
            <span th:text="${name}"></span>
          </td>
        </tr>
        <tr>
          <th>아이디</th>
          <td>
            <span th:text="${uid}"></span>
          </td>
        </tr>
        <tr>
          <th>이메일</th>
          <td>
            <span th:text="${member.email}"></span>
          </td>
        </tr>
        <tr>
          <th>가입일</th>
          <td>
            <span th:text="${formattedCreatedAt}"></span>
          </td>
        </tr>
      </table>
    <div class="find-btndiv">
      <button type="button" class="infobutton1" onclick="window.location.href='/user/findPass'">비밀번호 찾기</button>
    </div>
  </section>
</div>
<!-- 푸터영역 -->
<footer th:replace="~{layout/footer::footer}"></footer>

</body>
</html>