<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/product/list.css}" />
</th:block>

<div class="content" layout:fragment="content">
    <div class="dashboard">
        <div class="content_header">
            <h1>상품 현황</h1>
            <p>HOME > 상품관리 > <strong>상품목록</strong></p>
        </div>

        <!-- 상품목록 컨텐츠 시작 -->
        <section class="sectionBox">
            <div>
                <form action="/admin/product/list" class="search_bar">
                    <select name="type" th:value="${searchDto.type}">
                        <option th:selected="${searchDto.type}=='prodName'" value="prodName">상품명</option>
                        <option th:selected="${searchDto.type}=='prodNo'" value="prodNo">상품번호</option>
                        <option th:selected="${searchDto.type}=='sellerNo'" value="sellerNo">판매자</option>
                        <option th:selected="${searchDto.type}=='prodCompany'" value="prodCompany">제조사</option>
                    </select>
                    <input class="searchInput" type="text" th:value="${searchDto.keyword}" name="keyword" />
                    <input class="searchBtn" type="submit" value="검색" />
                </form>
            </div>

            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="all" /></th>
                    <th>사진</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>판매가격</th>
                    <th>할인율</th>
                    <th>할인된 가격</th>
                    <th>포인트</th>
                    <th>재고</th>
                    <th>판매자</th>
                    <th>조회</th>
                    <th>관리</th>
                </tr>

                <!-- 상품 리스트를 동적으로 출력 -->
                <tr class="admin_list" th:each="product : ${products.content}">
                    <td><input type="checkbox" th:name="'productCode' + ${product.id}" /></td>
                    <td><img th:src="'/'+${product.imageUrl}" class="thumb" style="width: 70px; height: 70px"  alt="상품이미지"/></td>
                    <td th:text="${product.id}">상품코드</td>
                    <td th:text="${product.name}">상품명</td>
                    <td th:text="${product.price} + '원'">32,000원</td>
                    <td th:text="${product.discountRate} + '%'">10%</td>
                    <td th:text="${product.discountedPrice} + '원'">28,800원</td>
                    <td th:text="${product.point}">320</td>
                    <td th:text="${product.stock}">1,000</td>
                    <td th:text="${product.sellerName}">(주) 다파라</td>
                    <td th:text="${product.views}">120</td>
                    <td style="line-height: 20px">
                        <a onclick="modifyProdStatus()" class="cs_delete-btn">[삭제]</a>
                        <br />
                        <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="cs_modify-btn">[수정]</a>
                    </td>
                </tr>
            </table>

            <a class="delete_btn">선택삭제</a>
            <a class="registration_btn" href="/admin/product/register" th:if="${role == 'Seller'}">상품등록</a>

            <!-- 페이지네이션 -->
            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a th:if="${products.currentPage > 0}"
                       th:href="@{/admin/product/list(page=${products.currentPage - 1})}"
                       class="prev">이전</a>

                    <!-- 페이지 번호 -->
                    <a th:each="i : ${#numbers.sequence(1, products.totalPages)}"
                       th:href="@{/admin/product/list(page=${i - 1})}"
                       th:text="${i}"
                       th:classappend="${products.currentPage + 1 == i} ? 'active' : ''">1</a>

                    <!-- 다음 버튼 -->
                    <a th:if="${products.currentPage + 1 < products.totalPages}"
                       th:href="@{/admin/product/list(page=${products.currentPage + 1})}"
                       class="next">다음</a>
                </div>
            </div>
        </section>
    </div>
</div>
</html>
