<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/config/banner.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/config/list.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/order/delivery.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/admin/order/delivery.js}"></script>
    <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
</th:block>

<div class="content" layout:fragment="content">

    <div th:replace="admin/include/admin_modal :: #deliverydetailmodal"></div>

    <div class="dashboard">
        <div class="content_header">

            <h1>배송현황</h1>
            <p>
                HOME > 주문관리 > <strong>배송현황</strong>
            </p>
        </div>
                    <!-- 컨텐츠 시작 -->
                    <section class="sectionBox">
                        <div>
                            <form action="/admin/order/delivery" class="search_bar">
                                <select name="type">
                                    <option value="orderNo">송장번호</option>
                                    <option value="orderId">주문번호</option>
                                    <option value="orderName">수령인</option>
                                </select>
                                <input class="searchInput" type="text" name="keyword">
                                <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                                <input class="searchBtn" type="submit" value="검색">
                            </form>
                        </div>
                        <table class="admingraph">
                            <tr class="admin_title">
                                <th>송장번호</th>
                                <th>택배사</th>
                                <th>주문번호</th>
                                <th>수령인</th>
                                <th>상품명</th>
                                <th>건수</th>
                                <th>물품합계</th>
                                <th>배송비</th>
                                <th>배송상태</th>
                                <th>접수일</th>
                            </tr>
                            <tr th:each="delivery : ${deliveries}" class="admin_list">
                                <td><a href="#" class="delivery-detail-btn" th:data-delivery-id="${delivery.id}" th:text="${delivery.invoiceNum}">송장번호</a></td>
                                <td th:text="${delivery.delCompany}">택배사</td>
                                <td th:text="${delivery.orderItem.order.id}">주문번호</td>
                                <td th:text="${delivery.orderItem.order.recipientName}">수령인</td>
                                <td th:text="${delivery.orderItem.product.productName}">상품명</td>
                                <td th:text="${delivery.orderItem.quantity}">건수</td>
                                <td th:text="${delivery.orderItem.orderPrice}">물품합계</td>
                                <td th:text="${delivery.orderItem.getDeliveryFee()}">배송비</td>
                                <td th:text="${delivery.getStatus().getKoreanLabel()}">배송상태</td>
                                <td th:text="${delivery.deliveryDate}">접수일</td>
                            </tr>
                        </table>

                        <!-- 페이징 -->
                        <div class="pagingBox">
                            <div class="pagingList">
                                <a th:if="${currentPage > 0}" th:href="@{/admin/order/delivery(page=${currentPage - 1})}" class="prev">&lt;</a>
                                <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                    <a th:href="@{/admin/order/delivery(page=${i})}"
                                       th:text="${i + 1}"
                                       th:classappend="${i == currentPage} ? 'active' : ''"></a>
                                </span>
                                <a th:if="${currentPage < totalPages - 1}" th:href="@{/admin/order/delivery(page=${currentPage + 1})}" class="next">&gt;</a>
                            </div>
                        </div>
        </section>
    </div>
</div>
