<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/order/list.css}"/>

    <link rel="stylesheet" th:href="@{/css/my/modal.css}"/>
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/order/list.js}"></script>
</th:block>

<div class="content" layout:fragment="content">
    <div th:replace="admin/include/admin_modal :: #orderinfomodal"></div>
    <div th:replace="admin/include/admin_modal :: #adressinputmodal"></div>
    <div th:replace="admin/include/admin_modal :: #deliveryInsertModal"></div>
    <div th:replace="admin/include/admin_modal :: #deliveryInfoModal"></div>
    <div class="dashboard">
        <div class="content_header">
            <h1>주문현황</h1>
            <p>
                HOME > 주문관리 > <strong>주문현황</strong>
            </p>
        </div>

        <section class="sectionBox">
            <div>
                <form action="/admin/order/list" class="search_bar">
                    <select name="type">
                        <option value="orderNo">주문번호</option>
                        <option value="orderId">주문자</option>
                        <option value="orderName">주문자명</option>
                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>
            <table class="admingraph">
                <tr class="admin_title">
                    <th>주문번호</th>
                    <th>주문자</th>
                    <th>주문자명</th>
                    <th>상품명</th>
                    <th>주문건수</th>
                    <th>주문합계</th>
                    <th>결제수단</th>
                    <th>주문상태</th>
                    <th>주문일</th>
                    <th>배송</th>
                </tr>

                <tr th:each="order : ${orders.dtoList}" class="admin_list">
                    <td>
                        <a href="#" th:value="${order.id}" th:data-order-id="${order.id}" data-modal="orderinfomodal" class="cs_modify-btn">1012121341</a>
                    </td>
                    <td th:text="${order.getMember().getUid()}"></td>
                    <td th:text="${order.getMember().getName()}"></td>
                    <td th:text="${order.getOrderItems().get(0).product.getProductName()}"></td>
                    <td th:text="${order.getOrderItems().size()}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                    <td th:text="${order.getPaymentMethod()}"></td>
                    <!-- 신용카드, 계좌이체, 휴대폰 등등 -->
                    <td style="color: green;" th:text="${order.getStatus().getKoreanLabel()}"></td>
                    <!-- 결제완료, 결제대기, 주문취소 -->
                    <td th:text="${#strings.substringBefore(order.getOrderDate().toString(), 'T')}"></td>

                    <!-- 연월일시간초 -->
                    <td>
                        <a href="#" class="deliveryBtn" th:data-order-id="${order.id}" data-modal="deliveryInsertModal">보기</a>
                        <!-- 배송하기, 입력완료, 주문취소 -->
                    </td>
                </tr>
            </table>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <th:block th:if="${orders.prev}">
                        <a th:href="@{/admin/order/list(pg=${orders.pg - 1})}" class="prev">←</a>
                    </th:block>

                    <!-- 페이지 링크 -->
                    <th:block th:each="num : ${#numbers.sequence(orders.start, orders.end)}">
                        <a th:href="@{/admin/order/list(pg=${num})}" th:text="${num}"
                           th:classappend="${orders.pg == num} ? 'active'"></a>
                    </th:block>

                    <!-- 다음 버튼 -->
                    <th:block th:if="${orders.next}">
                        <a th:href="@{/admin/order/list(pg=${orders.pg + 1})}" class="next">></a>
                    </th:block>
                </div>
            </div>

        </section>

    </div>
</div>
</html>