<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/admin/cs/notice/view.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="content" layout:fragment="content">
  <div class="dashboard">
    <div class="content_header">
      <h1>공지사항 보기</h1>
      <p>HOME > 고객센터 > 공지사항</p>
    </div>
    <article class="qna_article_write">
      <table>
        <tr>
          <td>유형</td>
          <td th:text="${notice.type1}">고객서비스</td>
        </tr>
        <tr>
          <td>제목</td>
          <td th:text="${notice.title}">[안내] 해외결제 사칭 문자 주의</td>
        </tr>
        <tr>
          <td>내용</td>
          <td>
              <textarea class="notice_view_content" name="qnaContent" placeholder="공지사항내용출력." readonly
                        th:text="${notice.content}"></textarea>
          </td>
        </tr>
      </table>
      <div style="text-align: center; margin-top: 50px">
        <input type="button" value="삭제" style="background-color: #9e9e9e; color: white; border: none; padding: 10px 20px; cursor: pointer; border-radius: 4px;"
               th:onclick="|deleteNotice(${notice.id})|" />
        <a th:href="@{/admin/cs/notice/modify/{id}(id=${notice.id})}">
          <input type="button" value="수정" style="background-color: #9e9e9e; color: white; border: none; padding: 10px 20px; cursor: pointer; border-radius: 4px;" />
        </a>
        <a th:href="@{/admin/cs/notice/list}">
          <input type="button" value="목록" style="background-color: #4291e9; color: white; border: none; padding: 10px 20px; cursor: pointer; border-radius: 4px;" />
        </a>

        <script src="/js/admin/cs/noticedelete.js"></script>
    </article>
  </div>
</div>
</html>