<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/company/company.css}" />
</head>
<!--
     날짜 : 2024/10/25
     이름 : 박서홍
     내용 : 회사소개 - layout html 생성
 -->
<body>

<!-- content -->

<th:block th:switch="${group}">

  <th:block th:case="'story'">
    <th:block th:with="path='company/story/' + ${cate}, fragment=${cate}">
      <th:replace th:with="path=${path}, fragment=${fragment}"
                  th:replace="~{${path}::${fragment}}"></th:replace>
    </th:block>
  </th:block>


  <th:block th:switch="${group}">
  <th:block th:case="'content'">
    <th:block th:with="path='company/content/' + ${cate}, fragment=${cate}">
      <th:replace th:with="path=${path}, fragment=${fragment}"
                  th:replace="~{${path}::${fragment}}"></th:replace>
    </th:block>
  </th:block>



</th:block>
  <!-- 스크롤 최상단 버튼 -->
  <button id="scrollTopBtn" class="scroll-top-btn" onclick="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>

  <script>
    // 스크롤 이벤트 리스너로 버튼 표시 제어
    window.onscroll = function() {
      var scrollTopBtn = document.getElementById("scrollTopBtn");
      var footer = document.querySelector("footer");  // 푸터 요소 선택
      var footerRect = footer.getBoundingClientRect();  // 푸터의 위치 정보

      // 현재 스크롤 위치와 푸터의 위치를 기반으로 버튼 표시 제어
      if ((document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) && footerRect.top > window.innerHeight) {
        scrollTopBtn.style.display = "block";  // 버튼 표시
      } else {
        scrollTopBtn.style.display = "none";   // 버튼 숨김
      }
    };
  </script>


<!-- footer -->
<footer th:replace="~{layout/footer1::footer}"></footer>

</body>
</html>