<!--
    날짜 : 2024/10/30
    이름 : 김소희(최초 작성자)
    내용 : issued 생성

    수정내용
    - 2024/11/01 이도영 받은 쿠폰에 대한 화면 출력
    - 2024/11/05 이도영 operate추가, 사용 가능 상태에 따라 출력 방식 변경
    - 2024/11/06 이도영 다운로드한 쿠폰이 없을경우에 대해 출력
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/admin/coupon/issued.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
</th:block>

<div class="content" layout:fragment="content">
  <div th:replace="~{admin/include/admin_modal :: #couponmodal}"></div>
  <div class="dashboard">
    <div class="content_header">
      <h1>쿠폰발급현황</h1>
      <p>
        HOME > 쿠폰관리 > <strong>쿠폰발급현황</strong>
      </p>
    </div>

    <section class="sectionBox">
      <div>
        <form action="/admin/coupon/list" class="search_bar">
          <select name="type">
            <Option value="couponNo">발급번호</Option>
            <Option value="couponId">쿠폰번호</Option>
            <Option value="couponName">쿠폰명</Option>
          </select>
          <input class="searchInput" type="text" name="keyword">
          <input type="hidden" name="prodSeller" value="ADMIN" readonly>
          <input class="searchBtn" type="submit" value="검색">
        </form>
      </div>
      <div class="operate">
        <p class="status-unused">● 미사용</p>
        <p class="status-used">&nbsp;● 사용</p>
        <p class="status-expired">&nbsp;● 기간 만료</p>
        <p class="status-stopped">&nbsp;● 정지</p>
      </div>
      <table class="admingraph">
        <tr class="admin_title">
          <th>발급번호</th>
          <th>쿠폰번호</th>
          <th>쿠폰종류</th>
          <th>쿠폰명</th>
          <th>사용자</th>
          <th>상태</th>
          <th>사용일</th>
          <th>관리</th>
        </tr>

        <tr th:each="coupon : ${coupontakedtos.dtoList}" class="admin_list" th:if="${coupontakedtos.dtoList.size()} > 0">
          <td>
            <a href="#" data-modal="couponmodal" th:attr="data-coupontake-id=${coupon.couponTakenId}" th:text="${coupon.couponTakenId}" class="underline-link"></a>
          </td>
          <td>[[${coupon.couponId}]]</td>
          <td>
            <th:block th:switch="${coupon.couponType}">
              <span th:case="single">개별상품 할인</span>
              <span th:case="ordersale">주문상품 할인</span>
              <span th:case="freedelivery">배송비 무료</span>
              <span th:case="*">할인 없음</span> <!-- 기본값 -->
            </th:block>
          </td>
          <td>[[${coupon.couponName}]]</td>
          <td>[[${coupon.username}]]</td>
          <td th:switch="${coupon.couponUseCheck}">
            <span th:case="0" th:style="'color: red;'">미사용</span>
            <span th:case="2" th:style="'color: blue;'">사용</span>
            <span th:case="3" th:style="'color: green;'">만료</span>
            <span th:case="4" th:style="'color: black;'">정지</span>
            <span th:case="*">알 수 없음</span> <!-- 기본값 -->
          </td>
          <td>[[${coupon.couponUseDateFormatted}]]</td>
          <td>
            <a th:attr="data-coupon-id=${coupon.couponTakenId}, data-use-check=${coupon.couponUseCheck}"
               th:classappend="${coupon.couponUseCheck == 2 || coupon.couponUseCheck == 3 ? 'usedBtn' : 'notusedBtn'}"
               onclick="handleCouponStatusChange(this)">
                <span th:switch="${coupon.couponUseCheck}">
                    <span th:case="0">정지</span> <!-- 미사용일 경우 -->
                    <span th:case="2">완료</span> <!-- 사용일 경우 -->
                    <span th:case="3">완료</span> <!-- 만료일 경우 -->
                    <span th:case="4">재개</span> <!-- 정지일 경우 -->
                    <span th:case="*">알 수 없음</span> <!-- 기본값 -->
                </span>
            </a>
          </td>
        </tr>
        <!-- 데이터가 없을 경우 "발급된 쿠폰이 없습니다" 메시지 출력 -->
        <tr th:unless="${coupontakedtos.dtoList.size()} > 0">
          <td colspan="8" style="height: 65px";>발급된 쿠폰이 없습니다</td>
        </tr>
      </table>

      <div class="pagingBox">
        <div class="pagingList">
          <a th:href="@{/admin/coupon/issued(pg=${coupontakedtos.start - 1}, type=${type}, keyword=${keyword})}"
             th:if="${coupontakedtos.prev}" class="prev">&#60;</a>
          <th:block th:each="num : ${#numbers.sequence(coupontakedtos.start, coupontakedtos.end)}">
            <a th:href="@{/admin/coupon/issued(pg=${num}, type=${type}, keyword=${keyword})}"
               th:classappend="${num == coupontakedtos.pg} ? 'active' : ''">[[${num}]]</a>
          </th:block>
          <a th:href="@{/admin/coupon/issued(pg=${coupontakedtos.end + 1}, type=${type}, keyword=${keyword})}"
             th:if="${coupontakedtos.next}" class="next">&#62;</a>
        </div>
      </div>

    </section>
  </div>
</div>
</html>